body {
    background-color: #252525;
    font-family: sans-serif;
    z-index: -25;
}

* {
    box-sizing: border-box;
}


section {
    color: white;
    border-style: dotted;
    border-width: 5px;
    border-color: lightgreen;
    margin: auto;
    background-color: lightgrey;
}

header {
    color: white;
    text-align: center;
}


h4{
    font-size: 40px;
    color: grey;
}

h3{
    font-size: 30px;
    color: #000011;
}

h2 {
    margin-top: 10px;
    font-size: 34px;
    color: black;
}

footer {
    border-radius: 30px;
    margin-top: 15px;
    bottom: 0;
    color: lightblue;
    text-align: center;
    font-size: 20px;
    padding-top: 35px;
    height: 100px;
    width: 100%;
    background-color: purple;
}

p {
    color: black;
}


.sectionL {

    clear: both;
    overflow: auto;
    float: left;
    width: 100%;
    height: auto;


    text-align: center;
    border-radius: 30px;
}

.sectionR {

    float: left;
    width: 100%;
    height: auto;

    text-align: center;
    border-radius: 30px;
}

.clearfix {
    overflow: auto;
}


#headliner {
    position: static;
    margin-top: 20px;
}

.btn1 {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    margin-top: 15px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #20302e;
    font-size: 22px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}



.letter-button {
  border: 1px solid rgb(60, 160, 210);
  color: rgb(60, 160, 210);
}

.letters{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.letter-button:hover {
  background-color: purple;
  color: white;
  cursor: pointer;
}
.letter-disabled {
  border: 1px solid white;
  color: red;
  cursor: default;
}

.row {
    width: 100%;
}


#graveimg{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

#guessesLeft{
    background-color: white;
    height: 50px;
    width: 90%;
}

#letter{
    padding-top: 7px;
    padding-bottom: 7px
}

#hiddenWord{
    color: yellow;
    background-color: #00000F;
    margin-top: 25px;
    margin-bottom: 25px;
     padding-top: 30px;
     padding-bottom: 30px;
     
}

#marginHint{
    padding-top: 30px;
}

#wrongGuess {
    font-size: 20px;
    text-decoration: bold;
    color: red;

}